
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: ALLOWS ALL READS AND WRITES TO ALL DOCUMENTS
    // THIS IS FOR DIAGNOSTIC PURPOSES ONLY.
    // REPLACE WITH SECURE RULES IMMEDIATELY AFTER TESTING.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
